body {
    font-family: sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto 700px;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .movie-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .movie-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  